<!DOCTYPE HTML>
<html>
 <head>
  <title>Worker example: One-core computation</title>
  <script type="text/javascript" src="jquery.js"></script> 
 </head>
 <body>
  <p>The highest prime number discovered so far is: <output id="result"></output></p>
  <script>
   try {
   	var worker = new Worker('/work_to_do');
	} catch(e) {
  		alert("Got an exception " + e );
	}
   worker.onmessage = function (event) {
     document.getElementById('result').textContent = event.data;
	 $.ajax( { type:'POST', url: "/results/primes/"+event.data, dataType: 'json', data: [] });
   };
  </script>
 </body>
</html>
